In [44]:
import pandas as pd

In [115]:
ltp = pd.read_csv('laptops.csv', sep=';')

In [116]:
ltp.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

Задание 1.
1. Скачать данные по ссылке
https://www.kaggle.com/datasets/ionaskel/laptop-prices
2. Считать данные с помощью pandas
3. Вывести на экран первые 5 строк
- 1.1 Создать новый признак Cpu_Company, который будет
содержать только название фирмы, которая произвела CPU
- 1.2 Создать новый признак Memory_Amount, который будет
содержать только количество Gb памяти без указания типа
носителя
- 1.3 Создать новый признак Memory_Type, который будет
содержать только тип носителя (HDD/SDD/др.)
- 1.4 Удалите признаки Memory и ScreenResolution

In [117]:
ltp['Cpu_Company'] = ltp['Cpu'].apply(lambda x: x.split()[0])
ltp.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel

In [118]:
def splitter(item):
    item = item.split()
    res = 0
    for i in item:
        if i.endswith('TB') or i.endswith('GB'):
            unit = i[-2:]
            num = int(float(i[:-2]))
            if unit == 'TB':
                num *= 1024
            res += num
    return f"{res} GB"
    
ltp['Memory_Amount'] = ltp['Memory'].apply(splitter)
ltp.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128 GB
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128 GB
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256 GB
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512 GB
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256 GB

In [119]:
def splitter2(item):
    item = item.split()
    res = ''
    for i in item:
        if i.endswith('SSD') or i.endswith('HDD') or i.endswith('Flash') or i.endswith('Hybrid'):
            if i == 'Flash':
                i = 'Flash Storage'
            res  = f'{res} + {i}'

    if res.startswith(' + '):
        res = res[3:]
        return res
    return res

ltp['Memory_Type'] = ltp['Memory'].apply(splitter2)
ltp.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128 GB,SSD
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128 GB,Flash Storage
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256 GB,SSD
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512 GB,SSD
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256 GB,SSD

In [134]:
ltp.drop(columns=['Memory', 'ScreenResolution'], inplace=True)
ltp.head()

,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD,laptop_id
0,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128 GB,SSD,1,0
1,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128 GB,Flash Storage,0,1
2,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256 GB,SSD,1,2
3,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512 GB,SSD,1,3
4,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256 GB,SSD,1,4

Задание 2.
- 2.1 Создайте признак SSD, который изначально равен 0
- 2.2 Поставьте в признаке SSD 1, если ноутбук
действительно с типом носителя SSD
- 2.3 Уберите в признаке Weight значения 'kg' и поменяйте его
тип данных на вещественный

In [120]:
ltp['SSD'] = 0
ltp.loc[ltp['Memory_Type'] == 'SSD', 'SSD'] = 1
ltp.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128 GB,SSD,1
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128 GB,Flash Storage,0
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256 GB,SSD,1
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512 GB,SSD,1
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256 GB,SSD,1

In [125]:
ltp['Weight'] = ltp['Weight'].str.replace('kg', '').astype('float')
ltp.head()

,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128 GB,SSD,1
1,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128 GB,Flash Storage,0
2,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256 GB,SSD,1
3,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512 GB,SSD,1
4,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256 GB,SSD,1

In [ ]:
ltp['Weight'].value_counts()

Задание 3.
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [45, 32, 67, 33, 43],
'laptop_id': [506, 398, 710, 120, 1999]
})
laptop_id - это индексы датафрейма с ноутбуками
3.1 Присоедините к таблице clients данные по ноутбукам
через метод join
3.2 Присоедините к таблице clients данные по ноутбукам
через метод merge

In [128]:
cl = pd.DataFrame({
    'client_id': [45, 32, 67, 33, 43],
    'laptop_id': [506, 398, 710, 120, 1999]
})

In [132]:
cl_lap_id = cl.set_index('laptop_id')
joined = cl_lap_id.join(ltp)
joined

,client_id,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,,,
506,45,Asus,ZenBook UX510UX-CN211T,Notebook,15.6,Full HD 1920x1080,Intel Core i7 7500U 2.7GHz,8GB,256GB SSD + 1TB HDD,Intel HD Graphics 620,Windows 10,2.00,1224.0,Intel,1280 GB,SSD + HDD,0.0
398,32,Dell,Precision M5520,Workstation,15.6,4K Ultra HD / Touchscreen 3840x2160,Intel Core i7 7700HQ 2.8GHz,8GB,256GB SSD,Nvidia Quadro M1200,Windows 10,1.78,2712.0,Intel,256 GB,SSD,1.0
710,67,Lenovo,Legion Y520-15IKBN,Gaming,15.6,IPS Panel Full HD 1920x1080,Intel Core i7 7700HQ 2.8GHz,8GB,128GB SSD + 1TB HDD,Nvidia GeForce GTX 1050 Ti,Windows 10,2.50,1249.0,Intel,1152 GB,SSD + HDD,0.0
120,33,Acer,Spin 3,Notebook,15.6,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i3 7100U 2.4GHz,6GB,1TB HDD,Intel HD Graphics 620,Windows 10,2.10,479.0,Intel,1024 GB,HDD,0.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [135]:
ltp['laptop_id'] = ltp.index
ltp.head()

,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD,laptop_id
0,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37,1339.69,Intel,128 GB,SSD,1,0
1,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34,898.94,Intel,128 GB,Flash Storage,0,1
2,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86,575.00,Intel,256 GB,SSD,1,2
3,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83,2537.45,Intel,512 GB,SSD,1,3
4,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37,1803.60,Intel,256 GB,SSD,1,4

In [137]:
merge = cl.merge(ltp, on='laptop_id')
merge

,client_id,laptop_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,45,506,Asus,ZenBook UX510UX-CN211T,Notebook,15.6,Intel Core i7 7500U 2.7GHz,8GB,Intel HD Graphics 620,Windows 10,2.00,1224.0,Intel,1280 GB,SSD + HDD,0
1,32,398,Dell,Precision M5520,Workstation,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia Quadro M1200,Windows 10,1.78,2712.0,Intel,256 GB,SSD,1
2,67,710,Lenovo,Legion Y520-15IKBN,Gaming,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia GeForce GTX 1050 Ti,Windows 10,2.50,1249.0,Intel,1152 GB,SSD + HDD,0
3,33,120,Acer,Spin 3,Notebook,15.6,Intel Core i3 7100U 2.4GHz,6GB,Intel HD Graphics 620,Windows 10,2.10,479.0,Intel,1024 GB,HDD,0

Задание 4.
Составьте несколько сводных таблиц
- 4.1 Найдите среднюю стоимость ноутбуков в зависимости
от компании производителя
Отсортируйте от меньшей стоимости к большей
- 4.2 Найдите минимальную, среднюю и максимальную
стоимости ноутбуков в зависимости от производителя
процессора
- 4.3 Постройте таблицу с подсчетом количества ноутбуков в
данных в зависимости от производителя CPU и ОЗУ
- 4.4 Постройте таблицу с подсчетом средней стоимости
ноутбуков в данных в зависимости от операционной
системы и GB памяти

In [141]:
# 4.1 Найдите среднюю стоимость ноутбуков в зависимости
# от компании производителя

ltp.groupby('Company').agg({'Price_euros': "mean"}).sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

In [149]:
# 4.2 Найдите минимальную, среднюю и максимальную
# стоимости ноутбуков в зависимости от производителя
# процессора

ltp.groupby(['Cpu_Company']).agg({'Price_euros': ['min', 'mean', 'max']})

            Price_euros
                    min         mean     max
Cpu_Company
AMD               199.0   560.638871  2199.0
Intel             174.0  1152.214145  6099.0
Samsung           659.0   659.000000   659.0

In [151]:
# 4.3 Постройте таблицу с подсчетом количества ноутбуков в
# данных в зависимости от производителя CPU и ОЗУ

ltp.pivot_table(index = 'Cpu_Company', columns = 'Ram', aggfunc='count', values='Weight', fill_value=0)

Ram          12GB  16GB  24GB  2GB  32GB  4GB  64GB  6GB  8GB
Cpu_Company
AMD             2     3     0    1     0   31     0   13   12
Intel          23   197     3   21    17  343     1   28  607
Samsung         0     0     0    0     0    1     0    0    0

In [160]:
# 4.4 Постройте таблицу с подсчетом средней стоимости ноутбуков 
# в данных в зависимости от операционной системы и GB памяти

# ltp['Price_Amount'] = ltp['Price_Euros'].str.replace(' GB', '')

# pd.crosstab(index=ltp['OpSys'],
#              columns=ltp['Memory_Amount'],
#              values=ltp['Price_euros'],
#              aggfunc='mean')

ltp.pivot_table(index='OpSys', columns='Memory_Amount', values='Price_euros', aggfunc='mean', fill_value=0)

Memory_Amount,1024 GB,1088 GB,1152 GB,128 GB,1280 GB,1536 GB,16 GB,180 GB,2048 GB,2176 GB,...,256 GB,2560 GB,32 GB,500 GB,508 GB,512 GB,64 GB,756 GB,768 GB,8 GB
OpSys,,,,,,,,,,,,,,,,,,,,,
Android,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.00,0.0,0.000000,0.00,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,434.000000,0.00,0.00,0.0
Chrome OS,0.000000,0.0,0.000000,1275.000000,0.000000,0.000000,305.38,0.0,0.000000,0.00,...,1559.000000,0.0,412.454545,0.000000,0.0,2199.000000,774.333333,0.00,0.00,0.0
Linux,581.401290,0.0,994.000000,490.500000,0.000000,0.000000,0.00,0.0,0.000000,0.00,...,795.814000,0.0,0.000000,389.056364,0.0,0.000000,0.000000,0.00,0.00,0.0
Mac OS X,0.000000,0.0,0.000000,1099.000000,0.000000,0.000000,0.00,0.0,0.000000,0.00,...,1311.994000,0.0,0.000000,0.000000,0.0,1222.000000,0.000000,0.00,0.00,0.0
No OS,540.539600,0.0,895.666667,362.024000,1149.000000,0.000000,0.00,0.0,594.000000,0.00,...,754.834615,0.0,0.000000,404.675385,0.0,1098.500000,0.000000,0.00,0.00,0.0
Windows 10,880.695661,1993.0,1285.464494,673.385692,1878.083562,2549.750667,0.00,1073.5,1058.201333,977.95,...,1214.518551,1849.0,270.001471,664.717647,0.0,1817.628286,333.795556,1497.17,1607.96,2249.0
Windows 10 S,0.000000,0.0,0.000000,1039.000000,0.000000,0.000000,0.00,0.0,0.000000,0.00,...,1668.950000,0.0,0.000000,0.000000,0.0,2589.000000,308.995000,0.00,0.00,0.0
Windows 7,1539.666667,0.0,0.000000,1320.323333,0.000000,0.000000,0.00,1199.0,0.000000,0.00,...,1846.466800,0.0,0.000000,924.048333,1002.0,2235.396667,0.000000,0.00,0.00,0.0
macOS,0.000000,0.0,0.000000,1119.315000,0.000000,0.000000,0.00,0.0,0.000000,0.00,...,1600.370000,0.0,0.000000,0.000000,0.0,2180.870000,0.000000,0.00,0.00,0.0

Задание 5*.
Ответьте на несколько вопросов
5.1 Ноутбуков каких компаний и с каким процессором
больше?
5.2 С каким типом памяти и с каким объемом памяти
больше ноутбуков?

In [163]:
# 5.1 Ноутбуков каких компаний и с каким процессором
# больше?

pd.crosstab(index=ltp['Company'], columns=ltp['Cpu_Company'], normalize=True).sort_values()

Cpu_Company       AMD     Intel   Samsung
Company
Acer         0.007675  0.071374  0.000000
Apple        0.000000  0.016117  0.000000
Asus         0.008442  0.112817  0.000000
Chuwi        0.000000  0.002302  0.000000
Dell         0.000000  0.227936  0.000000
Fujitsu      0.000000  0.002302  0.000000
Google       0.000000  0.002302  0.000000
HP           0.019186  0.191097  0.000000
Huawei       0.000000  0.001535  0.000000
LG           0.000000  0.002302  0.000000
Lenovo       0.012279  0.215656  0.000000
MSI          0.000000  0.041443  0.000000
Mediacom     0.000000  0.005372  0.000000
Microsoft    0.000000  0.004605  0.000000
Razer        0.000000  0.005372  0.000000
Samsung      0.000000  0.006140  0.000767
Toshiba      0.000000  0.036838  0.000000
Vero         0.000000  0.003070  0.000000
Xiaomi       0.000000  0.003070  0.000000

In [174]:
# 5.2 С каким типом памяти и с каким объемом памяти
# больше ноутбуков?

pd.crosstab(index=ltp['Memory_Type'], columns=ltp['Memory_Amount'], margins=True).sort_values(by='All', ascending=False)

Memory_Amount,1024 GB,1088 GB,1152 GB,128 GB,1280 GB,1536 GB,16 GB,180 GB,2048 GB,2176 GB,...,2560 GB,32 GB,500 GB,508 GB,512 GB,64 GB,756 GB,768 GB,8 GB,All
Memory_Type,,,,,,,,,,,,,,,,,,,,,
All,248,1,94,81,74,15,10,5,19,2,...,3,45,132,1,122,16,2,1,1,1303
SSD,14,0,0,76,0,0,3,5,0,0,...,0,6,0,0,118,1,0,0,1,637
HDD,224,0,0,1,0,0,0,0,16,0,...,0,1,132,0,0,0,0,0,0,374
SSD + HDD,0,0,94,0,73,14,0,0,2,2,...,3,0,0,0,0,0,2,0,0,200
Flash Storage,0,0,0,4,0,0,7,0,0,0,...,0,38,0,0,2,15,0,0,0,74
Hybrid,9,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,10
SSD + SSD,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,1,0,4
SSD + Hybrid,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
Flash Storage + HDD,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
HDD + HDD,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

# Homework

Домашнее задание 1
Изменение таблиц в Pandas
🌟 Скачать данные по ссылке
https://www.kaggle.com/datasets/ionaskel/laptop-prices
🌟 Считать данные с помощью pandas
🌟 Вывести на экран первые 5 строк
1.1 Создать новый признак price_per_sq_lot,
который будет содержать среднюю стоимость за
один кв. метр общей площади
1.2 Создать новый признак delta_renovated,
который будет содержать разницу в годах между
годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [177]:
hs = pd.read_csv('kc_house_data.csv')
hs.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [180]:
# 1.1 Создать новый признак price_per_sq_lot,
# который будет содержать среднюю стоимость за
# один кв. метр общей площади

hs['price_per_sq_lot'] = hs['price'] / hs['sqft_living']
hs.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,188.050847
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,209.338521
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,233.766234
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,308.163265
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,303.571429

In [182]:
# 1.2 Создать новый признак delta_renovated,
# который будет содержать разницу в годах между
# годом реновацией дома и годом постройки дома
# Если реновации дома не было, то в новом признаке поставьте 0
from numpy import where

hs['delta_renovated'] = where(hs['yr_renovated'] == 0, 0, hs['yr_renovated'] - hs['yr_built'])
hs.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,1955,0,98178,47.5112,-122.257,1340,5650,188.050847,0
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,400,1951,1991,98125,47.7210,-122.319,1690,7639,209.338521,40
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,0,1933,0,98028,47.7379,-122.233,2720,8062,233.766234,0
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,910,1965,0,98136,47.5208,-122.393,1360,5000,308.163265,0
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,0,1987,0,98074,47.6168,-122.045,1800,7503,303.571429,0

Домашнее задание 2
Изменение таблиц в Pandas
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113,
4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720,
9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025,
1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030,
3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})
house_id - это индексы датафрейма с домами
2.1 Присоедините к таблице clients данные по домам через метод join
2.2 Присоедините к таблице clients данные по домам через метод merge

In [184]:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840, 280, 20, 4332, 3475, 4213, 3113,
4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720,
9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025,
1951600150, 809001400, 339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030,
3303980210, 7731100066, 8146100580, 825069097, 3889100029, 9524100196]
})

In [185]:
# 2.1 Присоедините к таблице clients данные по домам через метод join

house_id = clients.set_index('client_id')
joined = house_id.join(hs)
joined

,house_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated
client_id,,,,,,,,,,,,,,,,,,,,,
1459,8965450190,3275860270,20141022T000000,755000.0,3,2.25,3020,13031,2.0,0,...,0,1989,0,98052,47.6897,-122.098,2480,10204,250.000000,0
4684,6823100225,9268200600,20140519T000000,413500.0,2,1.00,770,4000,1.0,0,...,0,1924,0,98117,47.6959,-122.364,1420,5040,537.012987,0
3498,5104540330,9547204350,20140519T000000,690000.0,3,2.00,1610,5100,1.5,0,...,0,1940,0,98115,47.6825,-122.307,1740,5100,428.571429,0
3942,2131701075,8861500015,20140520T000000,675000.0,3,2.25,1990,10260,2.0,0,...,0,1987,0,98052,47.6801,-122.115,1990,10260,339.195980,0
4535,1522700060,5556300076,20150423T000000,1442500.0,3,2.25,2630,9705,2.5,0,...,0,1987,0,98052,47.6485,-122.121,2640,14284,548.479087,0
2308,1189000207,6788200800,20150507T000000,1185000.0,4,2.75,2850,3000,2.5,0,...,320,2003,0,98112,47.6406,-122.304,2083,4500,415.789474,0
2866,6821600300,3275730110,20140908T000000,425000.0,3,2.25,1630,10500,1.0,0,...,530,1974,0,98034,47.7176,-122.236,1640,9794,260.736196,0
2765,7137950720,6662410070,20150414T000000,420000.0,4,2.25,2030,12000,2.0,0,...,0,1977,0,98011,47.7699,-122.168,2190,9900,206.896552,0
1472,9510920050,2724069070,20150220T000000,519500.0,4,2.00,1540,17859,1.0,0,...,0,1964,0,98027,47.5326,-122.032,1390,9688,337.337662,0
4236,6131600255,1698900195,20140902T000000,710000.0,3,2.00,1880,3000,1.0,0,...,840,1931,0,98109,47.6418,-122.351,1790,3000,377.659574,0
2295,5428000070,8712100320,20140728T000000,585000.0,5,2.75,2350,4178,1.5,0,...,830,1922,2015,98112,47.6388,-122.300,1920,4178,248.936170,93
939,1788800910,1324079046,20150120T000000,350000.0,3,2.25,1580,47916,1.0,0,...,0,1979,0,98024,47.5583,-121.852,1980,75358,221.518987,0
3840,8100400160,522059013,20140612T000000,173000.0,2,1.00,820,10450,1.0,0,...,0,1965,0,98055,47.4261,-122.199,1240,11200,210.975610,0
280,3123049142,1722059235,20140703T000000,304900.0,4,1.75,2600,11325,1.0,0,...,990,1969,0,98031,47.3954,-122.206,1720,11088,117.269231,0
20,6306800010,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,...,760,1947,0,98133,47.7025,-122.341,1400,4980,237.654321,0
4332,5083000375,1626079066,20140806T000000,290000.0,2,1.00,1120,217800,1.0,0,...,0,1976,0,98019,47.7378,-121.912,1480,217800,258.928571,0
3475,7920100025,9550202870,20150209T000000,417000.0,2,1.75,1090,4590,1.0,0,...,300,1915,0,98105,47.6677,-122.324,1390,4080,382.568807,0
4213,1951600150,8665050490,20140924T000000,480680.0,3,2.50,1730,4924,2.0,0,...,0,1996,0,98029,47.5672,-122.005,1610,4313,277.849711,0
3113,809001400,9510970300,20140923T000000,775000.0,4,2.50,3310,5101,2.0,0,...,0,2005,0,98052,47.6649,-122.080,3010,5176,234.138973,0
4809,339600110,8643000225,20150506T000000,225000.0,5,1.50,1790,11656,2.0,0,...,0,1963,0,98198,47.3961,-122.308,2040,9790,125.698324,0
2134,1622049154,9264901040,20140516T000000,239900.0,4,2.25,1860,7000,1.0,0,...,740,1979,0,98023,47.3127,-122.339,1990,8937,128.978495,0
2242,1099600250,5104531820,20140602T000000,525000.0,4,2.50,2910,7631,2.0,0,...,0,2006,0,98038,47.3552,-122.001,3190,5552,180.412371,0
2068,8563000110,1771100240,20140925T000000,361000.0,3,1.75,1650,11220,1.0,0,...,0,1969,0,98077,47.7567,-122.071,1340,10129,218.787879,0
4929,2768100205,9830200380,20140917T000000,653000.0,3,3.00,3040,5067,3.0,0,...,0,1993,0,98118,47.5409,-122.267,1820,5998,214.802632,0
1384,3995700435,6392003490,20140723T000000,433500.0,3,1.00,1230,6000,1.0,0,...,450,1937,0,98115,47.6839,-122.281,1570,5000,352.439024,0
1589,8861700030,2004100075,20150326T000000,332000.0,2,1.00,1150,8138,1.0,0,...,0,1954,0,98155,47.7370,-122.325,1300,8139,288.695652,0
3317,3303980210,2821049048,20140603T000000,590000.0,4,4.25,2360,57514,2.0,0,...,0,1939,1987,98003,47.2843,-122.294,2037,35733,250.000000,48
2260,7731100066,7345000340,20150203T000000,208000.0,3,1.00,1020,6120,1.0,0,...,0,1967,0,98002,47.2780,-122.205,1370,8000,203.921569,0
1727,8146100580,5088500310,20150312T000000,435000.0,3,2.00,2660,16677,1.0,0,...,450,1990,0,98038,47.3689,-122.055,2660,11355,163.533835,0
1764,825069097,8565000030,20150429T000000,805000.0,4,2.50,3450,33460,2.0,0,...,0,1997,0,98077,47.7673,-122.100,2820,35250,233.333333,0
1611,3889100029,9407101840,20140620T000000,378000.0,4,2.50,1890,12236,1.0,0,...,660,1978,0,98045,47.4491,-121.780,1390,11360,200.000000,0
1474,9524100196,2413301070,20150324T000000,280000.0,4,2.25,2100,8075,2.0,0,...,0,1978,0,98003,47.3251,-122.329,2100,7464,133.333333,0

In [189]:
# 2.2 Присоедините к таблице clients данные по домам через метод merge

hs['client_id'] = hs.index
merged = clients.merge(hs, on='client_id')
merged

,client_id,house_id,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sq_lot,delta_renovated
0,1459,8965450190,3275860270,20141022T000000,755000.0,3,2.25,3020,13031,2.0,...,0,1989,0,98052,47.6897,-122.098,2480,10204,250.000000,0
1,4684,6823100225,9268200600,20140519T000000,413500.0,2,1.00,770,4000,1.0,...,0,1924,0,98117,47.6959,-122.364,1420,5040,537.012987,0
2,3498,5104540330,9547204350,20140519T000000,690000.0,3,2.00,1610,5100,1.5,...,0,1940,0,98115,47.6825,-122.307,1740,5100,428.571429,0
3,3942,2131701075,8861500015,20140520T000000,675000.0,3,2.25,1990,10260,2.0,...,0,1987,0,98052,47.6801,-122.115,1990,10260,339.195980,0
4,4535,1522700060,5556300076,20150423T000000,1442500.0,3,2.25,2630,9705,2.5,...,0,1987,0,98052,47.6485,-122.121,2640,14284,548.479087,0
5,2308,1189000207,6788200800,20150507T000000,1185000.0,4,2.75,2850,3000,2.5,...,320,2003,0,98112,47.6406,-122.304,2083,4500,415.789474,0
6,2866,6821600300,3275730110,20140908T000000,425000.0,3,2.25,1630,10500,1.0,...,530,1974,0,98034,47.7176,-122.236,1640,9794,260.736196,0
7,2765,7137950720,6662410070,20150414T000000,420000.0,4,2.25,2030,12000,2.0,...,0,1977,0,98011,47.7699,-122.168,2190,9900,206.896552,0
8,1472,9510920050,2724069070,20150220T000000,519500.0,4,2.00,1540,17859,1.0,...,0,1964,0,98027,47.5326,-122.032,1390,9688,337.337662,0
9,4236,6131600255,1698900195,20140902T000000,710000.0,3,2.00,1880,3000,1.0,...,840,1931,0,98109,47.6418,-122.351,1790,3000,377.659574,0
10,2295,5428000070,8712100320,20140728T000000,585000.0,5,2.75,2350,4178,1.5,...,830,1922,2015,98112,47.6388,-122.300,1920,4178,248.936170,93
11,939,1788800910,1324079046,20150120T000000,350000.0,3,2.25,1580,47916,1.0,...,0,1979,0,98024,47.5583,-121.852,1980,75358,221.518987,0
12,3840,8100400160,522059013,20140612T000000,173000.0,2,1.00,820,10450,1.0,...,0,1965,0,98055,47.4261,-122.199,1240,11200,210.975610,0
13,280,3123049142,1722059235,20140703T000000,304900.0,4,1.75,2600,11325,1.0,...,990,1969,0,98031,47.3954,-122.206,1720,11088,117.269231,0
14,20,6306800010,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,...,760,1947,0,98133,47.7025,-122.341,1400,4980,237.654321,0
15,4332,5083000375,1626079066,20140806T000000,290000.0,2,1.00,1120,217800,1.0,...,0,1976,0,98019,47.7378,-121.912,1480,217800,258.928571,0
16,3475,7920100025,9550202870,20150209T000000,417000.0,2,1.75,1090,4590,1.0,...,300,1915,0,98105,47.6677,-122.324,1390,4080,382.568807,0
17,4213,1951600150,8665050490,20140924T000000,480680.0,3,2.50,1730,4924,2.0,...,0,1996,0,98029,47.5672,-122.005,1610,4313,277.849711,0
18,3113,809001400,9510970300,20140923T000000,775000.0,4,2.50,3310,5101,2.0,...,0,2005,0,98052,47.6649,-122.080,3010,5176,234.138973,0
19,4809,339600110,8643000225,20150506T000000,225000.0,5,1.50,1790,11656,2.0,...,0,1963,0,98198,47.3961,-122.308,2040,9790,125.698324,0
20,2134,1622049154,9264901040,20140516T000000,239900.0,4,2.25,1860,7000,1.0,...,740,1979,0,98023,47.3127,-122.339,1990,8937,128.978495,0
21,2242,1099600250,5104531820,20140602T000000,525000.0,4,2.50,2910,7631,2.0,...,0,2006,0,98038,47.3552,-122.001,3190,5552,180.412371,0
22,2068,8563000110,1771100240,20140925T000000,361000.0,3,1.75,1650,11220,1.0,...,0,1969,0,98077,47.7567,-122.071,1340,10129,218.787879,0
23,4929,2768100205,9830200380,20140917T000000,653000.0,3,3.00,3040,5067,3.0,...,0,1993,0,98118,47.5409,-122.267,1820,5998,214.802632,0
24,1384,3995700435,6392003490,20140723T000000,433500.0,3,1.00,1230,6000,1.0,...,450,1937,0,98115,47.6839,-122.281,1570,5000,352.439024,0
25,1589,8861700030,2004100075,20150326T000000,332000.0,2,1.00,1150,8138,1.0,...,0,1954,0,98155,47.7370,-122.325,1300,8139,288.695652,0
26,3317,3303980210,2821049048,20140603T000000,590000.0,4,4.25,2360,57514,2.0,...,0,1939,1987,98003,47.2843,-122.294,2037,35733,250.000000,48
27,2260,7731100066,7345000340,20150203T000000,208000.0,3,1.00,1020,6120,1.0,...,0,1967,0,98002,47.2780,-122.205,1370,8000,203.921569,0
28,1727,8146100580,5088500310,20150312T000000,435000.0,3,2.00,2660,16677,1.0,...,450,1990,0,98038,47.3689,-122.055,2660,11355,163.533835,0
29,1764,825069097,8565000030,20150429T000000,805000.0,4,2.50,3450,33460,2.0,...,0,1997,0,98077,47.7673,-122.100,2820,35250,233.333333,0
30,1611,3889100029,9407101840,20140620T000000,378000.0,4,2.50,1890,12236,1.0,...,660,1978,0,98045,47.4491,-121.780,1390,11360,200.000000,0
31,1474,9524100196,2413301070,20150324T000000,280000.0,4,2.25,2100,8075,2.0,...,0,1978,0,98003,47.3251,-122.329,2100,7464,133.333333,0

Домашнее задание 3
Изменение таблиц в Pandas
Составьте несколько сводных таблиц
3.1 Найдите среднюю стоимость домов в
зависимости от количества спален
Отсортируйте от меньшей стоимости к большей
3.2 Найдите минимальную, среднюю и
максимальную стоимости домов в зависимости от
состояния дома
3.3 Постройте таблицу с подсчетом количества
домов в данных в зависимости от вида на
набережную и оценкой вида

In [193]:
# 3.1 Найдите среднюю стоимость домов в
# зависимости от количества спален
# Отсортируйте от меньшей стоимости к большей

hs.groupby('bedrooms').agg({'price': 'mean'}).sort_values('price')

                 price
bedrooms
1         3.176429e+05
2         4.013727e+05
0         4.095038e+05
3         4.662321e+05
11        5.200000e+05
4         6.354195e+05
33        6.400000e+05
5         7.865998e+05
10        8.193333e+05
6         8.255206e+05
9         8.939998e+05
7         9.511847e+05
8         1.105077e+06

In [196]:
# 3.2 Найдите минимальную, среднюю и
# максимальную стоимости домов в зависимости от
# состояния дома

hs.groupby('condition').agg({'price': ['min', 'mean', 'max']})

              price
                min           mean        max
condition
1           78000.0  334431.666667  1500000.0
2           80000.0  327287.145349  2555000.0
3           75000.0  542012.578148  7062500.0
4           89000.0  521200.390033  7700000.0
5          110000.0  612418.089359  3650000.0

In [203]:
# 3.3 Постройте таблицу с подсчетом количества
# домов в данных в зависимости от вида на
# набережную и оценкой вида

hs.pivot_table(index='view', columns='grade', values='id', aggfunc='count', fill_value=0)
# hs.dtypes

grade  1   3   4    5     6     7     8     9    10   11  12  13
view
0       1   3  26  229  1955  8556  5412  2160  857  242  43   5
1       0   0   2    2    15    94   110    63   26   18   2   0
2       0   0   1    6    42   222   326   189  102   59  13   3
3       0   0   0    1    14    78   146   130   84   45  10   2
4       0   0   0    4    12    31    74    73   65   35  22   3